body{
    margin-top: 2rem;
    background-color: black;

}
.para{
    color: white;

    font-weight: lighter;
    margin-left: 2rem;
    white-space: nowrap;
    padding-top: 2rem;
    
    
}


    

.bg-lights{
    background-color: black;
}
.img-thumbnail{
    padding: .1rem;
    border: 5px solid black;
    border-radius: 0;
    background-color: rgb(225, 221, 221);

}
.title{
    font-weight: lighter;
    color: white;
    text-align:center;
    
}