body{
    width:auto;
    margin-right: 10px;
    margin-left: auto;
    display: block;


background-color: black;
}
.para{
    color:white;
}
.fac{
    color: white;
}
.details-part{
    
   
    background-color:rgb(0, 0, 0)
}
